body {    
	background-image: url("images/Backgroundpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.column1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 16%;
	
}
.column2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	margin-top: .2%;
	margin-bottom: 1rem;
    color: white;
}
h3 {
	margin-top: .5%;
	margin-bottom: 1rem;
    color: white;
}

button {
    background-size: 100px;
	margin-bottom: 1rem;
}
header button{
	text-align: center;
	margin-top: 1%;
	background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size:16px ;
    font-family:monospace;
    padding-left: 2%;
    padding-right: 2%;
	margin-left: 41%;
	
}
.column2 h2{
	margin-bottom: 13%;
}
.columns{
	display: flex;
	padding-left: 37.5%;
}
#s{
	margin-top: 8%;
	padding: 6%;

}

#p{
	margin-top: 10%;
	padding: 6%;
}
#r{
	padding: 6%;
}

